<title><% PageTitle %></title>
<style>
     body {
        font-family: 'Open Sans', sans-serif;
      }
      .hero.is-primary {
        margin-top: -85px;
        background-color: #209cee;
        color: #fff;
      }
      .hero .title {
        margin-top: 50px;
      }
      .speed-test {
        min-height: 67vh;
        margin-top: 50px;
      }
      .speed-test .button {
        margin-top: 20px;
        font-size: 16px;
      }
      .speed-test .speed {
        font-size: 30px;
        margin-top: 20px;
      }
      .speed-test .download-speed {
        color: #48c774;
      }
      .speed-test .upload-speed {
        color: #ffdd57;
      }
</style>
<% if (message) { %>
    <div class="popup-form" id="myForm">
      <div class="popup-content">
        <div class="close-button" onclick="closeForm()">&times;</div>
        <h2><%= message %></h2>
      </div>
    </div>
<% } %>
<section class="hero is-primary"  style="text-align: center;">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Net Speed Test</h1>
      </div>
    </div>
</section>
<div class="container speed-test" style="text-align: center;">
    <button class="button is-primary" onclick="window.location.href ='/speedtest'" id="test-button">Test Speed</button>
    <div class="columns is-centered">
      <div class="column is-half">
      <% if(downloadSpeed) {%>
        <div class="speed download-speed">Download Speed: 
          <span id="download-speed"> 
            <%= downloadSpeed %> 
          </span>
        </div>
      <%}%>
      </div>
      <% if(uploadSpeed) {%>
      <div class="column is-half">
        <div class="speed upload-speed">Upload Speed: 
          <span id="upload-speed">
            <%= uploadSpeed %>
          </span>
        </div>
        <%}%>
      </div>
    </div>
</div>

